<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions ="true">

  <targets async="true">
    <target type="File" name="logfile" fileName="${basedir}/logs/${level}.txt" keepFileOpen="true" />

    <target name="database" xsi:type="Database"
          dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
          dbHost="${configsetting:name=NlogConnection.DbHost}"
          dbDatabase="${configsetting:name=NlogConnection.Database}"
          dbUserName="${configsetting:name=NlogConnection.User}"
          dbPassword="${configsetting:name=NlogConnection.Password}"
          commandText ="NLogDataEntryProcedure"
          commandType ="StoredProcedure">

    <parameter name="@Application" layout="WebApiCore3Swagger" />
    <parameter name="@Logged" layout="${date}" />
    <parameter name="@Level" layout="${level}" />
    <parameter name="@Message" layout="${message}" />
    <parameter name="@UserName" layout="${event-properties:item=UserName}" />
    <parameter name="@Logger" layout="${logger}" />
    <parameter name="@CallSite" layout="${callsite:filename=true}" />
    <parameter name="@Exception" layout="${exception:tostring}" />
    
  </target>
    
    
  </targets>
 
  <rules>
    <logger name="*" minlevel="Info" writeTo="database" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    
  </rules>
</nlog>